body, html{
  margin: 0;
  padding: 0;
  font-family: "Arial", sans-serif;
z-index: -1;
background-color: #050131;
}

.logo {
  margin-left: 30px;
  font-family: "Caveat Brush", cursive;
  font-weight: 500;
  font-style: normal;
  font-size: 50px;
  
}


.appbar {
  padding: 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: #f8f8f8;
}

.search-container {
  display: flex;
  align-items: center;
  margin-left: 100px;
}

.search-input {
  padding: 8px;
  border: none;
  border-radius: 4px 0 0 4px; /* Mengatur border radius pada sisi kiri input */
  width: 260px;
}

.search-icon {
  background-color: #ffffff;
  padding: 4px;
  border-radius: 0 4px 4px 0; /* Mengatur border radius pada sisi kanan ikon */
}

.search-icon img {
  width: 20px;
  height: auto;
}


.nav-menu {
  display: flex;
  list-style: none;
  margin: 0;
  padding: 0;
  font-family: "Merriweather", serif;
  margin-right: 40px;
  font-weight: bold;
}

.nav-item {
  margin-right: 40px;
}

.nav-item:last-child {
  margin-right: 0;
}

.nav-link {
  text-decoration: none;
  color: #fff;
  font-weight: bold;
  font-size: 16px;
}

.fishAndChip {
  position: relative;
  width: 100%;
}

.text-container {
  position: absolute;
  top: 20%;
  left: 20px; /* Adjust the left margin according to your design */
  transform: translateY(-50%);
  color: #fff;
  font-size: 24px;
  font-family: "Merriweather", serif;
  font-weight: bold;
  z-index: 1;
}

.titletext {
  font-family: "Merriweather", serif;
  font-size: 32px;
margin-top:400px;

}

.text {
    font-family: 'Roboto', sans-serif;
    font-size: 22px;
  max-width: 35%;
margin-top: 50px;
}

.fishAndChip img {
    width: 1600px;
    height: 700px;
    filter: brightness(0.7);
  }

/* Add this style for the "Order Now" button */
.order-button-container {
  margin-top: 20px;
  text-align: center;
}

.order-button {
  padding: 10px 20px;
  font-size: 18px;
  border: 2px solid #ffffff; /* White border color */
  background-color: transparent;
  color: #ffffff;
  cursor: pointer;
  transition: background-color 0.3s, color 0.3s, border-color 0.3s;
  margin-top: 30px;
  margin-right: 1000px;
}

.order-button:hover {
  background-color: #ffffff;
  color: #050131;

}

.middle {
  display: flex;
  flex-direction: row;
  background-color: #050131;
  display: flex;
  justify-content: space-between;
  margin-top: 20px;
  padding: 20px;
}


.fish {
  font-size: 50px;
  font-family: "Dancing Script", cursive; ;
  color: #00aaff; 
}
.chips{
  font-size: 50px;
  font-family: "Dancing Script", cursive; ;
  color: #ffcc00;
}

.middle .caption-container {
  text-align: center;
}

.middle .caption {
  font-family: "Dancing Script", cursive;
  font-size: 32px;
  color: #ffffff;
  margin-top: 30px;
  border: 2px solid #ff9d00; /* Ubah warna border menjadi biru muda (#00aaff) */
  border-radius: 10px;
  justify-content: space-evenly;
  margin-left: 90px;
  width: 300px;
}

.titlemid {
  text-align: center;
  color: #ffffff;
  font-family: "Merriweather", serif;
  font-weight: bolder;
  font-size: 32px;
  margin-top: 20px; /* Sesuaikan dengan margin yang diinginkan */
}





.middle img {
  margin-top: 10px;
  width: 370px;
  height: 370px;
  filter: brightness(0.8);
  border-radius: 50%; /* Membuat frame bulat */
  border: 5px solid #ff9d00; /* Ubah warna border menjadi biru muda (#00aaff) */
  border-style: double; /* Gaya border double */
  margin-right: 50px;
  margin-left: 50px;
}



.bottom {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  font-family: "Merriweather", serif;
  font-size: 18px;
  margin-top: 50px;
  margin-bottom: 50px;
  margin-right: 100px;
 
}
.textbottom {
  display: flex;
  flex-direction: column;
  border: 2px solid #ffffff; /* Ubah warna border menjadi biru muda (#00aaff) */
  border-radius: 20px;
}

.bottomtitle {
  text-align:center;
  color: #ffffff;
  font-family: "Merriweather", serif;
  font-weight: bold;
  font-size: 24px;
  margin-top: 20px;
  white-space: nowrap;
}


.bottom-text {
  max-width: 60%; /* Adjust as needed */
  margin: 0 auto; /* Center the text horizontally */
  color: #ffffff;
  font-family: "Merriweather", serif;
  font-size: 18px;
  margin-top: 20px;
  margin-bottom: 20px;
}

.bottom img {
  max-width: 40%; /* Sesuaikan lebar gambar sesuai kebutuhan */
  border-radius: 10px;
  margin-left: 50px;
  margin-right: 50px;
  box-shadow: 2px 4px 8px rgb(68, 67, 67);
  border: 3px solid #ffffff; 
  border-radius: 10px;  
}

/* Add responsive styles */
@media (max-width: 768px) {
  .bottom {
    flex-direction: column;
  }

  .bottom img {
    width: 100%; /* Lebar penuh ketika layar berukuran kecil */
    margin-left: 0;
    margin-right: 0;
    margin-bottom: 20px;
  }
}

.actions {
  text-align: center;
  margin-bottom: 30px;
}

.actions a {
  text-decoration: none;
  padding: 6px;
  color: rgb(22, 211, 228);
  border-radius: 10px;
  
}

.actions a:hover {
  background-color: rgb(235, 253, 255);
}


footer.footer {
  background-image: linear-gradient(to bottom, #18004c, #090030, #01001f, #232323, #2c2c2c, #2c2c2c, #2c2c2c, #2c2c2c, #232323, #191919, #101010, #000000);
  text-align: center;
  padding: 1rem 0 1.5rem;
  margin-top: 5rem;
  font-size: 1.2rem;
  color: white;
}

footer .icon {
  padding: 1rem 0;
}

footer .icon span {
  margin: 0 1.3rem;
}

footer .icon span:hover,
footer .links a:hover {
  cursor: pointer;
  color: #938d8b;
}

footer .links {
  margin-top: 0.7rem;
  margin-bottom: 2rem;
}

footer .links a {
  color: #fff;
  padding: 0.7rem 1.2rem;
}

footer .credit {
  font-size: 0.9rem;
}

footer .credit a {
  color: rgb(79, 206, 128);
  font-weight: 700;
}

/* Add responsive styles */
@media (max-width: 768px) {
  .middle {
    flex-direction: column;
  }

  .middle img {
    width: 100%; /* Lebar penuh ketika layar berukuran kecil */
  }
}


/* Add responsive styles */
@media (max-width: 768px) {
  .appbar {
    flex-direction: column;
    align-items: flex-start;
  }

  .search-container {
    margin-top: 10px;
  }

  .nav-menu {
    margin-top: 10px;
  }

  

  .nav-item {
    margin-right: 0;
    margin-bottom: 10px;
  }
}
